@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .link-color {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  body {
    @apply text-gray-100;
  }
  .Hover {
    @apply relative before:content-[attr(data-tip)] before:absolute before:px-3 before:py-2 before:left-1/2 before:-top-3
     before:w-max before:max-w-xs before:-translate-x-1/2 before:-translate-y-full before:bg-black before:text-white before:font-bold
     before:rounded-md before:opacity-0 before:transition-all  after:absolute after:left-1/2 after:-top-3 after:h-0 after:w-0 
     after:-translate-x-1/2 after:border-8 after:border-t-gray-700 after:border-l-transparent after:border-b-transparent
      after:border-r-transparent after:opacity-0 after:transition-all hover:before:opacity-100 hover:after:opacity-100;
  }
  .navLink::after {
    @apply content-[''] bg-yellow-300 h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl duration-300 absolute;
  }
  .navLink:hover::after {
    @apply w-[100%];
  }
  .main {
    color: rgb(232, 210, 154);
  }
  .bg {
    background-color: rgb(232, 210, 154);
  }
}
